[Desktop Entry]
Name=QR Code Studio
Comment=Create QR codes and scan dense codes offline
Exec=qrcode-gui
Icon=${SNAP}/meta/gui/qrcode-gui.svg
Terminal=false
Type=Application
Categories=Graphics;Utility;
Keywords=QR;Barcode;Camera;Scanner;
